<h2>Hangman!</h2>
<div class="well">
  <h4>Hint: <%= session[:hint] %></h4>
  <h3 id="board">
    <% session[:board_array].each do |space| %>
      <% if space == " " %>
        <span class="space"> - </span>
      <% else %>
        <%= space %>
      <% end %>
    <% end %>
  </h3>
</div>

<h4>You Have <%= session[:guesses_left] %> Guesses Left!</h4>
<br>
<h4>Pick From The Letters Below:</h4>
<% if session[:guesses_left] > 0 %>
  <% session[:guesses_board].each do |letter| %>
    <form action="/guess_<%=letter%>" method="post" class="letter_button">
      <input type="submit" value="<%=letter%>" class="btn btn-success">
    </form>
  <% end %>
<% end %>
